@import "settings";
@import "foundation";
@import "foundation/components/grid";


/*header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:false); }
  padding-bottom: em-calc(10px);}*/

.main-content {
  /*@include grid-column($columns:12);*/
  padding-top: 1.5rem;
}


footer {
  @include grid-row;
}

/*.menu-icon {
  border-bottom: solid 1px darken($tabbar-bg, 10%);
}*/
