@import "settings";
@import "foundation";
@import "foundation-icons";

header {
  @include grid-row;

  .logo  { @include grid-column($columns:3, $center:true); }
  padding-bottom: em-calc(10px);

}


.main-content {
  @include grid-row;
  margin-top: .5em;

  @media #{$small-up} {
      @include grid-column($columns:12, $center:true);
    }
}


i {
  display: inline-block;
  float:left;
  font-size: 1.5em;
  margin: .145em .5em;
}
